
<img src="../static/camping-home.jpg" alt="campsite">
<form action="/stars" method="GET">
    <label for="searchBox">Search for a constellation: </label>
    <input type="text" name="search" id="searchBox">
</form>

<img src="<%= stars.collection.items[0].links[0].href %>" alt="">
<p><%= stars.collection.items[0].data[0].title %></p>
<p><%= stars.collection.items[0].data[0].description %></p>
