<form id="searchFormHome" class='searchForm' action="/results" method="GET">
    <label class='searchLabel' for="searchBox">Search for a constellation: </label>
    <br>
    <input type="text" name="search" id="searchBox">
    <input class='submitBtn' type="submit" value="Go!">
</form>

<button id="sugBtnHome" class="btn">Discover</button>

<img id="homeImg" class="campingImg" src="../static/camping-home.jpg" alt="campsite">
<p id="broText">Hey sis, <br> can you teach me about the stars?</p>
<p id="sisText">Of course! Let's see, <br> what should I tell you about first...</p>




<script>

    

    let nsPath = [
        //aquarius
        '/results?search=PIA04926',
        //aquila
        '/results?search=PIA23402',
        //canis major
        '/results?search=GSFC_20171208_Archive_e000086',
        //cassiopeia
        '/results?search=PIA19832',
        //coma berenices
        '/results?search=iss006e40537',
        //cygnus
        '/results?search=PIA14102',
        //leo
        '/results?search=GSFC_20171208_Archive_e001151',
        //orion
        '/results?search=sts054-97-018',
        //orion's belt
        '/results?search=PIA21644',
        //orion's sword
        '/results?search=PIA08653',
        //pisces
        '/results?search=GSFC_20171208_Archive_e000362',
        //scorpius
        '/results?search=PIA13128',
        //big dipper
        '/results?search=PIA15653',
        //little dipper
        '/results?search=iss006e21378'

    ]

    let randomize = () => {
       i = Math.floor(Math.random() * nsPath.length)    
       window.location.href = nsPath[i];
    }

    document.getElementById('sugBtnHome').addEventListener('click', randomize)

</script>
