<form id='searchForm' action="/results" method="GET">
    <label for="searchBox">Search for a constellation: </label>
    <br>
    <input type="text" name="search" id="searchBox">
</form>
<img id="campingImg" src="../static/camping-home.jpg" alt="campsite">



