<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camping Trip</title>
</head>
<body>
    <header>
        <nav>
            <% if (currentUser) { %>
                <a href="/">Home</a>
                <a href="/profile">Profile</a>
                <a href="/auth/logout">Logout</a>
                
            <% } else { %>
                <a href="/auth/register">Register</a>
                <a href="/auth/login">Login</a>
            <% } %>
        </nav>
    </header>
    <main class="container">
      
        <%- include('./partials/alerts') %>
        <%- body %>
    </main>
</body>
</html>