body {
    margin: 0 auto;
    text-align: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#093274+0,1f2c56+100 */
    background: #1F2C56; /* Old browsers */
    background: -moz-linear-gradient(top,  #093274 0%, #1F2C56 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #093274 0%,#1f2c56 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #093274 0%,#1f2c56 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093274', endColorstr='#1f2c56',GradientType=0 ); /* IE6-9 */
    color: white;
    font-size: 24px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

.papaDiv {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* grid-template-rows: repeat(5, 150px); */
    grid-auto-rows: 10%;
    position: relative;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: #FCEBA1;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.campingImg {
    width: 80%;
}

.navLink {
    padding-right: 5px;
}



.submitBtn {
    font-size: 16px;
    color: #1E406E;
    margin: 0 10px;
}


.searchLabel {
    background-color: #1D5AAC;
}

#brandP {
    font-family: 'Staatliches', sans-serif;
    display: inline-block;
    font-size: 24px;
    margin-top: 5px;
    margin-right: 765px;
    color: white;
}

#nav {
   font-size: 18px;
   text-decoration: none;
}

/* ---- HOME PAGE ---- */

#homeImgDiv {
    position: relative;
    z-index: -1;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

#homeImg {
    object-fit: cover;
    
    width: 80%;
}

#sugBtnHome {
  
    font-size: 16px;
    color: #1E406E;
    grid-row: 4;
    grid-column: 9;
    height: 26%;
    width: 68%;
    top: 8px;
    position: relative;
}

@keyframes broMove {
    from {transform: translateX(-200px);}
  to {transform: translateX(0px);}
}

#broText {
    font-family: 'Handlee', cursive;
     /* position: absolute; */
     /* top: 25%;
     left: 25%; */
     /* transform: translate(-50%, -50%); */
     animation-name: broMove;
     animation-duration: 3s;
     grid-row: 4;
     grid-column: 2 / 5;
 }

 @keyframes sisMove {
    from {transform: translateX(900px);}
  to {transform: translateX(0px);}
}

@keyframes sisShow {
    from {opacity: 0;}
    to {opacity: 1;}
}
 
 #sisText {
    font-family: 'Handlee', cursive;
     /* position: absolute;
     top: 40%;
     right: -35%; */
     animation-name: sisMove, sisShow;
     animation-duration: 3s;
     animation-delay: 3s;
     animation-fill-mode: forwards;
     grid-row: 5;
     grid-column: 7 / 10;
     justify-self: end;
    position: relative;
    top: 45px;
    opacity: 0;
 }
 
 .searchForm {
     width: 100%;
 }

 .searchFormHome {
     grid-row: 4;
     grid-column: 7 / 10;
     bottom: 35px;
    right: 57px;
    position: relative;
 }

/*  ---- RESULTS PAGE ---- */

.titleP {
    grid-row: 4;
    grid-column: 4 / 8;
    background-color: #174D9B;
    height: max-content;
    margin: 0px;
    
}

.descriptionP {
    position: absolute;
    top: 800px;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: #1F2C56;
    padding: 2px;
    width: 800px;
}

.searchForm {
    grid-row: 5;
    grid-column: 7 / 10;
    align-self: end;
   position: relative;
   justify-self: start;
   width: auto;
}

.favsDiv {
    grid-column: 8;
    align-self: center;
}

#resultImg {
    grid-column: 4 / 8;
    grid-row: 1 / 4;
    width: 100%;
    height:100%;
}

#favBtn {
    border: solid 1px white;
    background-color: #1F5798;
    color: #D73931;
    font-size: 32px;
    border-radius: 100px;
  
}

#favBtn:visited {
    color: #FCEBA1;
}

#favBtn:hover {
    background-color: white;
  
}

#suggestionsBtn {
   grid-row: 5;
   grid-column: 9;
    color: #1E406E;
    height: 26%;
    width: 68%;
    font-size: 16px;
    align-self: end;
}


#detailsLink {
    font-family: 'Handlee', cursive;
    text-decoration: underline;
    grid-column: 3 / 5;
    grid-row: 5;
    align-self: center;
   
}

#detailsLink:visited {
    color: white;
}

#detailsLink:hover {
    color: grey;
}

.imgDetailsDiv {
    margin-top: 40px;
}


.descriptionDetails {
    margin: 0 auto;
    overflow: auto;
    width: 80%; 
}

.favBtnDetails {
    background-color: #1F5798;
    color: #D73931;
    font-size: 32px;
    border-radius: 100px;
    border: solid 1px white;
}

.favBtnDetails:visited {
    color: #FCEBA1;
}

.favBtnDetails:hover {
    background-color: white;
  
}

/* ---- FAVORITES PAGE ---- */

#favsTile {
    border: solid 1px #FCEBA1;
    background-color: #FCEBA1;
    max-width: 900px;
    margin-left: 10%;
    color: #1F2C56;
}

#editLink {
    display: inline;
    color: darkgray;
}

#deleteForm {
    display: inline-block;
}

#deleteBtn {
    font-size: 16px;
    margin: 0 5px;
}

#editForm {
    margin-top: 40px;
}

#editName {
    width: 300px;
    margin: 10px 0;
}

#editPhoto {
    width: 300px;
    margin: 10px 0;
}

#editDescription {
    margin: 10px 0;
}